<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bida.DAO.Properties.Settings.CONN" connectionString="Data Source=ESON-PC;Initial Catalog=Bida;Persist Security Info=True;User ID=giangnamnam;Password=12345" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
